<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <h1>signup</h1>
<form action="/user" method="post">
    <label>Enter Your Full name</label>
    <input type="text" name="name" required>
    <label>Enter Your password</label>
    <input type="password" name="password"required>
    <label>Enter Your email</label>
    <input type="email" name="email"required>
    <button>signup</button>
</form>
</body>
</html>